﻿@model IEnumerable<Web.Models.ViewPictureModel>

@{
    ViewBag.Title = "ByModelView";
}

<h2>ByModelView</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Like)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisLike)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Like)
            @Html.ActionLink("Like", "Like", new { id = item.Id }) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisLike)
            @Html.ActionLink("DisLike", "DisLike", new { id = item.Id })
        </td>
        
        
        <td>
            <img src="@Url.Content(item.PathInfo)" class="img-thumbnail" alt="Cinque Terre" width="80" height="60">
        </td>
    </tr>
}

</table>
