﻿@model IEnumerable<DataAccess.Entities.PicturesByCategory>

@{
    ViewBag.Title = "IndexByCategories";
}

<p>
    @Html.ActionLink("Upload new picture", "Upload")
</p>

<table class="table">


    @foreach (var item in Model)
    {
      
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
            @{
                var list = item.Pictures;
                foreach (var i in list)
                {
        <td>
            <p>
                @Html.DisplayFor(modelItem => i.Name)
            </p>
     
            <img src="@Url.Content(i.PathInfo)" class="img-thumbnail" alt="@i.Name" width="200">
            <p>
               
                @*@Html.DisplayFor(modelItem => i.Raitings.Like)*@
                @Html.ActionLink("Like", "Like", new { id = i.Id })
                @*@Html.DisplayFor(modelItem => i.DisLike)*@
                @Html.ActionLink("DisLike", "DisLike", new { id = i.Id })
                @*@Html.ActionLink("Edit", "Edit", new { id = item1.Id })*@
                @Html.ActionLink("About", "ShowPictureDetailByModel", new { id = i.Id })
                @Html.ActionLink("Delete", "DeletePicture", new { id = i.Id })
            </p>
        </td>
            }
            }



        </tr>
    }

</table>
