﻿@model PagedList.IPagedList<Web.Models.ViewPictureModel>
@using PagedList.Mvc;
@using PagedList.Mvc

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "My gallery";
}
<head>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet">
    <script>
        $(document).ready(function () { $('#search').autocomplete({ source: '@Url.Action("GetNameSearch")', minLength: 1, autoFocus: true }); })
    </script>
</head>
<p>
    @Html.ActionLink("Upload new picture", "Upload")
</p>

@using (Html.BeginForm("GetPicturesNamePattern", "Home", FormMethod.Post, new { enctype = "multipart /form-data" }))
{
    <div class="ui-widget">
        <input type="text" name="pattern" id="search">
        <input type="submit" value="Find" />
        <p>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) from @Model.PageCount
        </p>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
}

<div class="row">
    @foreach (var item in Model)
    {
        <img src="@Url.Content(item.PathInfo)" class="img-thumbnail" alt="@item.Name" width="700" onmouseover="myFunction(this)">
        <p>
            @Html.DisplayFor(modelItem => item.Name)
            @Html.DisplayFor(modelItem => item.CategoryName)
            @Html.DisplayFor(modelItem => item.Like)
            @Html.ActionLink("Like", "Like", new { id = item.Id })
            @Html.DisplayFor(modelItem => item.DisLike)
            @Html.ActionLink("DisLike", "DisLike", new { id = item.Id })
            @Html.ActionLink("About picture", "ShowPictureDetailByModel", new { id = item.Id })
            @Html.ActionLink("Delete picture", "DeletePicture", new { id = item.Id })
        </p>
    }
</div>
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) from @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))


