﻿@model List<string>
@{
    ViewBag.Title = "ShowPicture";
}

<body>
    <form action="/Home/ShowPicture" method="get">
        <input id="Tag" name="Tag" type="text" value="" />
        <input type="submit" value="Find" />
    </form>

    @*@foreach (var item in Model)
    {
        if (item.EndsWith(".mp4"))
        {
            <video src="@item" controls></video>
            @Html.ActionLink("Download", "Download", new { source = item })

        }
        else
        {
            <img src="@item" class="img-thumbnail" width="300" align="bottom" />
            @Html.ActionLink("Download", "Download", new { source = item })
        }
    }*@
    <div class="row">
        <div class="col-md-12">

            <div id="mdb-lightbox-ui"></div>

            <div class="mdb-lightbox no-margin">
                @{ var mass = Model.ToArray();}
                @for (int i = 0; i < mass.Length-2; i=i+3)
                {
                    <figure class="col-md-4">
                        @if (mass[i].EndsWith(".mp4"))
                        {
                            <video src="@mass[i]" width="300" controls></video>
                            @Html.ActionLink("Download", "Download", new { source = mass[i] })
                        }
                        else
                        {
                            <a class="black-text" href="@mass[i]"
                               data-size="400x300">
                                <img alt="picture" src="@mass[i]" width="300"
                                     class="img-fluid">
                                <h3 class="text-center my-3">@Html.ActionLink("Download", "Download", new { source = mass[i] })</h3>
                            </a>
                        }
                    </figure>
                    <figure class="col-md-4">
                        @if (mass[i+1].EndsWith(".mp4"))
                        {
                            <video src="@mass[i+1]" width="300" controls></video>
                            @Html.ActionLink("Download", "Download", new { source = mass[i + 1] })
                        }
                        else
                        {
                            <a class="black-text" href="@mass[i+1]"
                               data-size="400x300">
                                <img alt="picture" src="@mass[i+1]" width="300"
                                     class="img-fluid">
                                <h3 class="text-center my-3">@Html.ActionLink("Download", "Download", new { source = mass[i + 1] })</h3>
                            </a>
                        }
                    </figure>
                    <figure class="col-md-4">
                        @if (mass[i+2].EndsWith(".mp4"))
                        {
                            <video src="@mass[i+1]" width="300" controls></video>
                            @Html.ActionLink("Download", "Download", new { source = mass[i + 2] })
                        }
                        else
                        {
                            <a class="black-text" href="@mass[i+2]"
                               data-size="400x300">
                                <img alt="picture" src="@mass[i+2]" width="300"
                                     class="img-fluid">
                                <h3 class="text-center my-3">@Html.ActionLink("Download", "Download", new { source = mass[i + 2] })</h3>
                            </a>
                        }
                    </figure>
                }
            </div>
        </div>
    </div>
</body>
