﻿@model DataAccess.Entities.PictureEntity

@{
    ViewBag.Title = "ShowPictureDetail";
}

<h2>ShowPictureDetail</h2>

<div>
    <h4>О картинке</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryEntity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryEntity.Name)
        </dd>



    </dl>
</div>
<div>
    @Html.ActionLink("Like", "Like", new { id = Model.Id }) |
    @Html.ActionLink("DisLike", "DisLike", new { id = Model.Id })

</div>
<div>
    <img src="@Url.Content(Model.PathInfo)" class="img-thumbnail" alt="Cinque Terre" width="800" height="600">
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
