﻿@using DataAccess.Entities
@model Web.Models.PictureDetailsViewModel

@{
                ViewBag.Title = "ShowPictureDetailByModel";
}

<h2>About picture</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Like)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Like)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DisLike)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisLike)
        </dd>


    </dl>
</div>
<div>
    <h1>Last comments:</h1>
    <table class="table table-bordered">
        @foreach (CommentEntity comment in Model.Comments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => comment.Comment)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => comment.DateTime)
                </td>

                @*<td>
                        @Html.DisplayFor(modelItem => comment.HostAdress)
                    </td>*@
            </tr>
        }
    </table>
</div>

@using (Html.BeginForm("ShowPictureDetailByModel", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h1>You can add comment for picture here:</h1>
    <div class="form-group form-group-lg">
            @Html.EditorFor(model => model.CommentCreate, new { htmlAttributes = new { @class = "form-group form-group-lg" } })
            @Html.ValidationMessageFor(model => model.CommentCreate, "", new { @class = "text-danger" })
            <input type="submit" value="Save comment" class="btn btn-default" />
    </div>


    <div>
        <img src="@Url.Content(Model.PathInfo)" class="img-thumbnail" alt="Cinque Terre" width="800" height="600">
    </div>
}
<p>
 
    @Html.ActionLink("Back to List", "Index")
</p>



