﻿@model DataAccess.Entities.PictureEntity
@{
    ViewBag.Title = "Upload";
}

<h2>Upload your picture</h2>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="form-group">
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    @Html.LabelFor(model => model.CategoryEntity.Name, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
           @Html.DropDownListFor(model => model.CategoryEntity.Id, ViewBag.Categories as SelectList, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
    <input type="file" name="upload" /><br>
    <input type="submit" value="Загрузить" />
}


    

